<form id="login-form" class="login-form" [formGroup]="loginFormGroup">
  <input
    type="text"
    pInputText
    formControlName="email"
    required
    placeholder="Email"
  />
  <input
    type="password"
    pInputText
    formControlName="password"
    required
    placeholder="Password"
  />
  <p-button
    label="Login"
    type="submit"
    (onClick)="login()"
    [disabled]="!loginFormGroup.valid"
  ></p-button>
  <p-button (onClick)="navigateHome()">Continue as guest</p-button>
</form>
