<form id="login-form" class="login-form" [formGroup]="loginFormGroup">
  <div class="form-control-container">
    <label for="email">Email:</label>
    <input
      id="email"
      type="text"
      pInputText
      formControlName="email"
      required
      placeholder="Email"
    />
  </div>

  <div class="form-control-container">
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      pInputText
      formControlName="password"
      required
      placeholder="Password"
    />
  </div>
  <p-button
    label="Login"
    type="submit"
    (onClick)="login()"
    [disabled]="!loginFormGroup.valid"
  ></p-button>
  <p-button (onClick)="navigateHome()">Continue as guest</p-button>
</form>
