<form id="register-form" class="register-form" [formGroup]="registerFormGroup">
  <div class="form-control-container">
    <label for="email">Email:</label>
    <input
      id="email"
      type="text"
      pInputText
      formControlName="email"
      placeholder="Email"
    />
  </div>
  <div class="form-control-container">
    <label for="username">Username:</label>
    <input
      id="username"
      type="text"
      pInputText
      formControlName="username"
      placeholder="Username"
    />
  </div>
  <div class="form-control-container">
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      pInputText
      formControlName="password"
      placeholder="Password"
    />
  </div>
  <div class="form-control-container" [ngStyle]="{ alignItems: 'center' }">
    <label for="is-admin">User should be an administrator?</label>
    <p-checkbox
      id="is-admin"
      formControlName="isAdmin"
      [binary]="true"
    ></p-checkbox>
  </div>
  <p-button
    label="Register"
    type="submit"
    (onClick)="register()"
    [disabled]="!registerFormGroup.valid"
  ></p-button>
  <p-button (onClick)="navigateLogin()">Already registered?</p-button>
</form>
