<ng-container *ngIf="book$ | async as book">
  <ng-container *ngIf="{ value: bookIsUpdating$ | async } as bookIsUpdating">
    <ng-container *ngIf="{ value: bookIsLoading$ | async } as bookIsLoading">
      <ng-container *ngIf="{ value: user$ | async } as user">
        <div class="form-container">
          <form
            id="update-book-form"
            class="update-book-form"
            [formGroup]="updateFormGroup"
            *ngIf="!(bookIsUpdating.value || bookIsLoading.value)"
          >
            <div class="form-control-container">
              <label for="title">Title:</label>
              <input
                id="title"
                type="text"
                pInputText
                formControlName="title"
                placeholder="Title"
              />
            </div>
            <div class="form-control-container">
              <label for="language">Language:</label>
              <input
                id="language"
                type="text"
                pInputText
                formControlName="language"
                placeholder="Language"
              />
            </div>
            <div class="form-control-container">
              <label for="year">Year:</label>
              <input
                id="year"
                type="number"
                pInputText
                formControlName="year"
                placeholder="Year"
              />
            </div>
            <div class="form-control-container">
              <label for="author">Author:</label>
              <input
                id="author"
                type="text"
                pInputText
                formControlName="author"
                placeholder="Author"
              />
            </div>
            <div class="form-control-container">
              <label for="country">Country:</label>
              <input
                id="country"
                type="text"
                pInputText
                formControlName="country"
                placeholder="Country"
              />
            </div>
            <div class="form-control-container">
              <label for="pages">Pages:</label>
              <input
                id="pages"
                type="number"
                pInputText
                formControlName="pages"
                placeholder="Pages"
                min="1"
              />
            </div>

            <div class="controls-container" *ngIf="isAdmin(user.value)">
              <p-button
                [disabled]="!updateFormGroup.valid"
                (onClick)="updateBook()"
              >
                Update book
              </p-button>

              <p-button
                (click)="deleteBookPrompt($event)"
                icon="pi pi-check"
                label="Delete Book"
                styleClass="p-button-danger"
              ></p-button>
            </div>
          </form>

          <p-progressSpinner
            *ngIf="bookIsUpdating.value || bookIsLoading.value"
          ></p-progressSpinner>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
