<ul class="book-list">
  <ng-container *ngIf="books$ | async as books">
    <li class="book-list-item" *ngFor="let book of books">
      <p-card>
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://images.unsplash.com/photo-1589998059171-988d887df646?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </ng-template>

        <ng-template pTemplate="title">
          <h3>{{ book.title }}</h3>
        </ng-template>

        <ng-template pTemplate="subtitle">
          <h6>Written in {{ book.language }} ({{ book.year }})</h6>
          <h6>{{ book.pages }} pages</h6>
        </ng-template>

        <ng-template pTemplate="content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            nesciunt dolorum incidunt, illum tempore porro nam consequatur...
          </p>
        </ng-template>

        <ng-container *ngIf="user$ | async as user">
          <ng-container *ngIf="user.email">
            <ng-template pTemplate="footer">
              <a [routerLink]="['/', book.id]">
                <p-button [raised]="true" label="View"></p-button>
              </a>
            </ng-template>
          </ng-container>
        </ng-container>
      </p-card>
    </li>
  </ng-container>
</ul>
