.book-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: clamp(1rem, 0.5146rem + 2.0712vw, 3rem) 1%;
  list-style: none;
  padding: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }

  ::ng-deep {
    .p-card {
      @media (min-width: 768px) {
        height: 100%;
      }

      &-header {
        overflow: hidden;

        img {
          height: 100%;
          object-fit: cover;
          transition: all 0.35s;
        }
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}
