.book-list {
  display: flex;
  gap: clamp(1rem, 0.5146rem + 2.0712vw, 3rem) 1%;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;

  &-item {
    flex: 0 0 100%;

    @media (min-width: 768px) {
      flex: 0 0 49.5%;
    }

    @media (min-width: 1280px) {
      flex: 0 0 24.25%;
    }
  }

  ::ng-deep {
    .p-card {
      &-header {
        overflow: hidden;
        max-width: 100%;

        img {
          transition: all 0.35s;
        }
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}
